p{
  font-family: "Open Sans", sans-serif;
  text-shadow: 1px 1px black;
      background-color: rgba(0, 0, 0, 0.5);

}

h2, h4{
  color: black;
}

p{
  color:#ffffff;
}
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
 }
 .carousel-inner img {
max-width: 100%;
display:block; 
height: auto;
    }
 

 .btn{
 	margin-bottom: 25vh;
 }
 .topnav a:hover {
    border-bottom: 3px solid red;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #bd2130;
}
.nav-pills .nav-link {
    border-radius: 20rem;
}
.nav-pills a{
	color: white;
}
@media only screen and (min-width: 1000px) {
.landing2{
padding-right: 15%;
padding-left: 15%;
}
.landingbutton{
margin-bottom: 6% !important;
}
}


@media only screen and (max-width: 1000px) {
   .carousel-inner img {
    max-width: 150%;
display:block; 
height: 100%;
    }
 
}

@media only screen and (max-width: 340px) {
	.landing2{
  font-size: 5.3vh !important;
}
.lead{
  font-size: 0.8rem !important;
}
}

@media only screen and (max-width: 650px) {
.landing2{
  font-size: 6.2vh;
}

.lead{
  font-size: 15.9px;
}
}
@media only screen and (min-width: 650px) {
.landing2{
  font-size: 9.2vh;
}

.lead{
  font-size: 1.2rem;
}

